body{
    background-color: #ffc045 !important;
    font-family: 'Montserrat' !important;
    color: white;
    margin: 0 auto
}

.authbox{
    color: #0c2233;
    margin: 20px auto;
}


